<div *ngIf="product">
    <p> 
        <label style="margin-right:3px ;" *ngIf="(page=='cart')">
            <strong>Name:</strong></label>
        {{product.name}}
    </p>
    <p> <label style="margin-right:3px ;" *ngIf="(page=='cart')"><strong>Price:</strong></label>{{product.price| currency}}</p>
    <p *ngIf="page=='product-item'">{{product.description}}</p>
    <div>
        <label style="margin-right:3px ;" *ngIf="(page=='cart')"><strong>Amount:</strong></label>
        <select  [(ngModel)]="product.amount" (ngModelChange)="changeAmount(product)">
            <option [ngValue]="i+1" 
                    *ngFor="let item of [].constructor(10); let i = index">
                    {{i+1}}</option>
        </select>
    </div>
    <button *ngIf="!(page=='cart')" class="btn btn-primary"  style="margin-top: 10px;"
        (click)="addToCart(product)"> Add To Cart</button>
</div>